<div id='post-<%= post.id %>'>

  <li >
      <% if (locals.user && locals.user.id == post.user.id){ %>
        <small>
          <a class="delete-post-button" style="color: red;" href="/posts/destroy/<%= post.id %>"><i class="far fa-trash-alt"></i></a>
        </small>

      <% } %>

    <!-- <p> -->
      <span style="color:rgb(55, 228, 32); font-size:large;"><%=post.user.name %></span>
      <span style="color:rgb(189, 183, 183);">shared:</span></br>
      <span style="color:rgb(255, 255, 255);"><%= post.content %><p>
      
  </li>

  <div class="post-comments">
    <%if (locals.user){ %>
      <form action="/comments/create"  method="POST">
        <input type="text" name="content" placeholder="type here for comment..." required>
        <input type="hidden" name='post' value= "<%= post._id %>" >
        <input type="submit" value="Add Comment">
      </form>

   <% } %>   

    <div id="post-comment-list">
      <ul id="post-comment-<%= post._id %>">
        <% for (comment of post.comments) {%>
          
          <%- include('comment.ejs')%>

        <% }%>

      </ul>  
    </div>

  </div>
</div>
