<link rel="stylesheet" href="/css/users.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />


<div id="profile">
    <h1 style="background-color: rgb(234, 238, 236);"> Welcome: <%= user.name %> !</h1>
    <!-- <p> Name: <%= user.name %> </p> -->
    <p> Email: <%= user.email %> </p>


    <section id='feed-post'>
      <h2>Posts</h2>
      <% if (locals.user){ %>
          <form action="/posts/create" id='new-post-form' method="POST">
            <textarea name="content" cols="30" rows="4" placeholder="Enter Text here...." required></textarea></br>
            <input id="button" type="submit" value="POST">
          </form>
      <% } %>
    </section>


    <div id="post-list-container">
      <ul>
        <% for (post of posts){ %>

          <%- include('_post.ejs')%>

        <% } %>
      </ul>

      
    </div>

</div>

<aside>
  <h2>Friends</h2>
  <% for (f of all_users){ %>
    <h4>
      <a href="/users/profile/<%= f.id %>"></a>
    </h4>

  <% } %>
</aside>
<script src="/js/home_posts.js"></script>